<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.group2.scheduler.service.SchedulerMapper">

	<insert id="signup">
		INSERT INTO user(name, userid, pw)
		VALUES(#{name}, #{userid}, #{pw})
	</insert>
	
	<select id="getUser" resultType="UserVO">
		SELECT *
		FROM user
		WHERE userid = #{userid}
	</select>
	
	<select id="checkId" resultType="int">
		SELECT COUNT(*)
		FROM user
		WHERE userid = #{userid}
	</select>
	
	<select id="getPassword" resultType="string">
		SELECT pw
		FROM user
		WHERE userid = #{userid}
	</select>
	
	<select id="myPage" resultType="EnrollVO">
		SELECT date, name, title, time
		FROM tutor t
		WHERE t.id IN (SELECT tutorid FROM register WHERE userid = #{userid})
	</select>
	
	<insert id="register">
		INSERT INTO register(userid, tutorid)
		VALUES(#{userid}, #{tutorid})
	</insert>
	
	<delete id="deleteRegister">
		DELETE
		FROM register
		WHERE id = #{id}
	</delete>

	<select id="getList" resultType="EnrollVO">
		SELECT * FROM tutor
	</select>	
	
	<select id="getDetail" resultType="EnrollVO">
  		SELECT * FROM tutor
  		WHERE id = #{id}
  	</select>
  	
  	<update id="upHit">
  		UPDATE tutor SET hit = hit +1
  		WHERE max = #{max}
  	</update>
	
</mapper>